<h1>Bank Account</h1>
<table>
  <thead>
    <tr>
      <th>Transaction</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.name %></td>
      <td><%= transaction.amount %></td>
      <td><%= link_to 'Show', transaction %></td>
      <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
      <td><%= link_to 'Delete', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h3>Balance: $<%= @balance %></h3>
<h3>Number of Transactions: <%= @number_of_transactions %></h3>

<h3>New Transaction!</h3>
<p>Don't forget to include "-" when the transaction is a withdrawal.
<%= render "transactions/form" %>
<h2><%= @misleading_statement %></h2>
