<h1>Bank Account</h1>
<% @transactions.each do |t| %>
<table>
<tr><%= t.name %>: <%= t.amount %></tr>
<% end %>
</table>

<h3>Balance: <%= @balance %></h3>

<%= render "transactions/form" %>
<p><%= link_to "See, edit, add, or remove transactions.", '../transactions' %></p>
<h2><%= @misleading_statement %></h2>
