<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction:</strong>
  <%= @bank_account.transaction %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @bank_account.amount %>
</p>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %>
